h1 {
color: red;
font-size: 26px;
font-family: sans-serif;
text-transform: capitalize;
font-style: italic;
}

h2 {
    font-size: 40px;
    font-family: Times New Roman;

}

p {
    font-size: 22px;
    font-family: Gill Sans;
    font-style: italic;
    line-height: 1.5;
    
}
h3 {
    font-size:30px;
    font-family:Tahoma;
}
h4 {
    font-size:20px;
    text-transform: uppercase;
    font-family: Sans-sherif;
    text-align: center;
}

li {
    font-size: 20px;
    font-family: Sans-sherif;
    
}
