h1 {
color: red;
font-size: 26px;
font-family: sans-serif;
text-transform: capitalize;
font-style: italic;
}

h2 {
    font-size: 40px;
    font-family: Times New Roman;

}

p {
    font-size: 22px;
    font-family: Gill Sans;
    font-style: italic;
    line-height: 1.5;
}
